html, body {
	height: 100%;
	margin: auto;
	overflow: hidden;
}
#myCanvas {
	display: block;
	background-image: url('textures/background.jpg');
	background-size: cover;       
    background-position: center; 
	height: 100vh;
	width: 100vw;
}